/* 
Esse estilo é usado nas páginas individuas (podcasts e materias)
*/

.cast
{
      padding-bottom: 300px; 
}

.castNome
{
    
}

.castDescricao
{
    
}

.fotoCast
{
    
}
.castFoto {
    width: 150px;
    border-radius: 1000px;
}

.castIntegrante {
    float: left;
    width: 30%
}
