/* 
Esse estilo é usado nas páginas individuas (podcasts e materias)
*/

a
{
    text-decoration: none;
}

a:visited
{
    color: black;
}

a:hover
{
    color: gray;   
}

#tituloPodcast
{
    font-family: 'BebasNeue';
    font-size: 50px;
    margin-left: 10px;
}

#infoPodcast
{
    margin: 10px;
}

#barraSocialPodcast
{
  width: 100%;  
}

.codigoPodcast
{
    color: #0099FF;
}

#introducaoPodcast
{
    font-size: 25px;
    font-weight: 300;
}

#comentarioPodcast
{
    margin: 20px;   
}

#textoPodcast
{
    margin: 20px;   
}

#introducaoPodcast
{
    margin: 20px;   
}

#playerPodcast
{
    margin: 20px;   
}

#linksPodcast
{
    margin: 20px;   
}


/* Leia Mais */

#leiaMais{
    width: 100%;
}

#leiaMais_interno{
    margin: auto;
    padding: auto;
    width: 960px;
    background-color: rgba(252,252,252,0.5);
}

#leiaMais_conteudo{
    padding: 10px;
}

.titulo_leiaMais{
    font-size: 20px;
    font-weight: 900;
}

.tema_leiaMais{
    font-size: 20px;
}

.introducao_leiaMais{
    font-size: 18px;
}

.leiaMais_leiaMais{
    font-family: 'BebasNeue';
    font-size: 30px;
}

/* Leia Mais */

/* Comentarios */

#comentario{
    width: 100%;
}

#comentario_interno{
    margin: auto;
    padding: auto;
    width: 960px;
    background: radial-gradient(ellipse at center,  #ffffff 0%,#d6d6d6 100%); /* W3C */
}

#comentario_conteudo{
    padding: 10px;
}

/* Comentarios */