/* 
Esse estilo é usado no projeto todo com esseção da pagina dos administradores.
Ele é definido no template geral do site (template_geral).
*/

body{
    margin:0;
    padding:0; 
    background: #151618 url("../Imagens/bg.jpg") no-repeat center top !important;
    font-family: 'Arial';
    
    -moz-box-shadow:   inset  0 0 15px #000000;
     -webkit-box-shadow:inset  0 0 15px #000000;
     box-shadow:        inset  0 0 15px #000000;
}

@font-face {
    font-family: BebasNeue;
    src: url("../Fontes/BebasNeue.otf") format("opentype");
}

/* H2 -> titulos da materia e etc */
h1{
    font-family: 'BebasNeue';
    font-weight: 500;
}

/* H2 -> definições da materia e etc */
h2{
    font-family: 'BebasNeue';
    font-weight: 300;
}

/* H3 -> corpo da materia*/
h3{

}

/* Inicio Menu */

#menu{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

#menu_interno{
    margin: auto;
    padding: auto;
    width: 1000px;
    height: 60px;
    z-index: 2;
}

#menu_lista{
    margin-top: -30px;
    margin-left: 200px;
    position: absolute;
}

#menu_lista ul {
	padding:0px;
	margin:0px;
	list-style:none;
}

#menu_lista ul li { display: inline; }

#menu_lista ul li a {
	padding: 2px 10px;
	display: inline-block;
 
	/* visual do link */
        color: #cccccc;
	text-decoration: none;
        font-family: 'BebasNeue';
        font-size: 30px;
        letter-spacing: 1px;
}

#menu ul li a:hover {
	color: #6D6D6D;
}

/* Fim Menu */

/* Inicio Topo */

#topo{
    width: 100%;
    height: 370px;
    background-image: url('../Imagens/bg2.png');
    z-index: 0;
}

#topo_interno{
    margin: auto;
    padding: auto;
    width: 960px;
    height: 370px;
    z-index: -5;
}

/* Fim Topo */

/* Inicio Corpo */

#corpo{
    width: 100%;
    margin-bottom: -20px;
}

#corpo_interno{
    margin: auto;
    padding: auto;
    width: 960px;
    background: radial-gradient(ellipse at center,  #ffffff 0%,#d6d6d6 100%); /* W3C */
}

/* Fim Corpo */

/* Inicio Rodapé */

#rodape{
    width: 100%;
    height: 100px;
    background-image:  url('../Imagens/bg2.png');
}

#rodape_interno{
    margin: auto;
    padding: auto;
    width: 960px;
    height: 100px;
    opacity: 0.4;
    background-color: gray;
}

/* Fim Rodapé */

/* Inicio Outros */

.tituloSecao{
    font-size: 50px;
    font-family: 'BebasNeue';
    color: #0099FF;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.sobre{
    font-size: 25px;
    font-family: 'BebasNeue';
    color: #6D6D6D;
}

/* Fim Outros */


