/* 
Esse estilo é usado nas páginas individuas (podcasts e materias)
*/
p
{    
    font-family: 'Open Sans', sans-serif;
}

.cast
{
      padding-bottom: 300px; 
}

.castNome{}


.castDescricao
{
    
}

.fotoCast
{
    
}
.castFoto {
    width: 150px;
    border-radius: 1000px;
}

.castIntegrante {
    float: left;
    width: 30%
}

.subtituloSobre {
    margin-top: -40px;
}



.castNome {
    font-size: 27px;
}




